body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.jumbotron {
  margin-bottom: 0;
  background-image: linear-gradient(#2962FF, #BBDEFB);
  font-family: 'Anton', sans-serif;

}

#navbar {
  background-color: #607D8B;
}

.container-fluid {
  padding: 0;
}

.card {
  width: 20rem;
  margin-top: 2rem;
}

.welcome {
  margin-left: 3rem;
  margin-top: 1rem;
}

.signup {
  margin-left: 3rem;
  margin-top: 2rem;
}

.instruction {
  width: 25rem;
}

#delete {
  margin: 4rem;
}

a {
  color: #00B7FF;
}
