<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>Edit User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="container-fluid">
        
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid text-center">
            <h1>Project Voting</h1>
        </div>
        
        <nav class="navbar navbar-expand-sm" id='navbar'>
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" id="homeLink" href="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="editLink" href="/user">Edit User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="logoutLink" href="/logout">logout</a>
                </li>
            </ul>
        </nav>
        
    <div class="form-container" ng-controller="myController">
      <div class='welcome'>
        <p id="sectionTitle" class="form-header"><strong>User Profile</strong></p>
        <form method="POST" action="/user/update" ng-submit="castVote()">
          
          
            <label>Username:</label>
            <input type="text" id="username" name="username" ng-model="user.username" disabled><br>
            <label>Email:</label>
            <input type="email" id="email" name="email" ng-model="user.email"><br>   
            
            <button class='btn btn-outline-primary btn-sm' type="submit" id="save" value="Save">Save</button>
        
      </div>
            
          
          
          <div class='card mx-auto'>
            <div class='card-header text-center'><strong>Vote Here</strong></div>
            <div class='card-body'>
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" id="color" class="form-check-input" name="color" value="Nutrition Calculator" ng-model="user.color">Nutriton Calculator
                  </label>
              </div><br>
              
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" id="color" class="form-check-input" name="color" value="Pokemon Simulator" ng-model="user.color">Pokemon Simulator
                  </label>
              </div><br>
              
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" id="color" class="form-check-input" name="color" value="Simple Chat" ng-model="user.color">Simple Chat
                  </label>
              </div>
              
            </div>
          </div>
            
        
            <div class='card mx-auto'>
            <button class='btn btn-outline-primary' type="submit" id="save" value="Submit Vote">Submit Vote</button>
              
            </div>
            
            
            
            
        </form>
    </div>
    <form method="POST" action="/user/delete">
        <button class='btn btn-outline-danger btn-sm float-right' type="submit" id="delete" value="Delete User">Delete User</button>
    </form>
    <hr>
    <span id="userMsg" class='welcome'>
    <%= msg %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    
    </div>
</body>

</html>